<html>

<head>
	<Title>Mini Mercado</title>
	<link href="..\assets\css\estilo.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="shortcut icon" href="..\imagens\favicon.ico" type="image/x-icon" />
	<meta charset="UTF-8">
</head>

<body>

	<header>
		 <div class="topo">
            <div>
                <img id="img_topo" src="../imagens/11697.jpg" >
            </div>
            <div>
                <h1 id="titulo">MINI MERCADO</h1>
                <h2 id="subtitulo">Aqui você economiza de verdade!!</h2>
            </div>
        </div>

        <br>
		<div class="nav_bar">
			<table class="nav_content"  border=1 bgcolor=#ffcc00 cellpadding=0 cellspacing= 0 width=100% >
				<tr>
					<th class="nav_item"> <a href="index.html">Inicio</a> </th>
					<th class="nav_item"> <a href="promocoes.php">Promoções</a> </th>
					<th class="nav_item"> <a href="produtos.php">Produtos</a> </th>
					<th class="nav_item"> <a href="carrinho.php"> Meu Carrinho</a></th>
					<th class="nav_item"> <a href="login.php">Login</a> </th>
				</tr>
			</table>
		</div>
	</header>
	<main>
		<article class="apresentacao">
			<h2>Os melhores produtos com as melhores ofertas estão aqui!</h2>
			<div class="galeria">
				<img src="..\imagens\qualidade7.jpg" class="imgs-apresentacao">
				<img src="..\imagens\qualidade4.jpg" class="imgs-apresentacao">
				<img src="..\imagens\qualidade3.jpg" class="imgs-apresentacao">
				<img src="..\imagens\qualidade8.jpg" class="imgs-apresentacao">
				<img src="..\imagens\qualidade5.jpg" class="imgs-apresentacao">
				<img src="..\imagens\qualidade6.jpg" class="imgs-apresentacao">
			</div>
		</article>
	</main>
</body>

</html>